body {
    background-color: #27063F;
}

@font-face {
    font-family: News Cycle;
    src: url("../fonts/NewsCycle-Regular.ttf");
}

.hide {
    font-family: 'NewsCycle-Bold', sans-serif;
    color: #D1CCDC;
    text-align: left;
    padding: 0;
    padding-left: .5em;
    margin: 0;
    letter-spacing: .15em;
    font-size: .8em;
}

.header {
    font-family: 'NewsCycle-Bold', sans-serif;
    font-size: 3em;
    letter-spacing: .15em;
    color: #FED766;
    margin-left: 25%;
    margin-top: 5em;
}

.outline {
  color: #27063F;
  text-shadow: -.5px -.5px 0 #D1CCDC, .5px -.5px 0 #D1CCDC, -.5px .5px 0 #D1CCDC, .5px .5px 0 #D1CCDC;
}

.blurb {
    font-family: 'NewsCycle-Bold', sans-serif;
    color: #D1CCDC;
    text-align: left;
    letter-spacing: .15em;
    font-size: 1em;
    margin-left: 25%;
    width: 40%;
}

.education, .experience {
    font-family: 'NewsCycle-Bold', sans-serif;
    color: #D1CCDC;
    text-align: left;
    letter-spacing: .15em;
    font-size: 1em;
    margin-left: 25%;
    width: 40%;
    margin-top: 20em;
}

.title {
    color: #FED766;
}

.vl {
  border-left: .1em solid #D1CCDC;
  height: 17em;
  position: fixed;
  left: 3em;
  top: 0;
}

.v2 {
  border-right: .1em solid #D1CCDC;
  height: 17em;
  position: fixed;
  right: 3em;
  bottom: 0;
}

.nav {
    height: .7em;
    width: .7em;
    background-color: #D1CCDC;
}

.sidenav {
    position: fixed;
    top: 10em;
    left: 3.5em;
    background-color: #27063F;
    z-index: 1; 
}

.socials {
    position: fixed;
    bottom: 8.25em;
    right: 3.5em;
    z-index: 1; 
    line-height: 2em;
}

a {
    text-decoration: none;
}

table, tr, td {
    padding: 0;
    padding-bottom: 1em;
}

tr:hover .nav{
    background-color: #FED766;
}

tr:hover .hide{
    color: #FED766;
}

#g:hover #g_p, 
#g #g_y,
#l:hover #l_p, 
#l #l_y,
#e:hover #e_p, 
#e #e_y,
#r:hover #r_p, 
#r #r_y
 {
    display: none;
}

#g:hover #g_y,
#l:hover #l_y,
#e:hover #e_y,
#r:hover #r_y
{
    display: inline;
}

.icons {
    width: 1.5em;
}